.mainframe {
    background-color: #1C242D;
    font-size: 16px;
    width: 100%;
    height: 100%;
}
.frameinfo{
    border: 2px solid #242F39;
    padding: 15px 20px;
    background-color: #242F39;
}
.secondframe{
    width: 90%;
    height: 90%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.baseinfo{
    border: 6px solid #1C242D;
    padding: 8px 4px;
    display: flex;
    width: 417px;
    background-color: #242F39;
    color: #9aa6b2;
}
.baseinfo::placeholder{
    color: #9aa6b2;
}
.framesteamid{
    display: flex;
    align-items: center;
    gap: 10px;
}
.searchbtn{
    appearance: none;
    border: 6px solid #1C242D;
    background-color: #242F39;
    color: #9aa6b2;
    cursor: pointer;
    padding: 8px 4px;
}
.searchbtn:hover{
    background-color: #435260;
}
.updatebtn{
    appearance: none;
    border: 8px solid #1C242D;
    background-color: #242F39;
    color: #9aa6b2;
    cursor: pointer;
    padding: 8px 4px;
}
.updatebtn:hover{
    background-color: #435260;
}